// 个人习惯的简写样式 之前没有tailwind.css时喜欢用的
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex_r_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_r_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flex_c_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex_c_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .flex_c_around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .flex_1 {
    flex: 1;
  }
  .flex_c_start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .flex_r_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .flex_wrap {
    flex-wrap: wrap;
  }
  
  .inline_block {
    display: inline-block;
  }
  .to_pointer {
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--primary);
      cursor: pointer;
      &::before {
        color: var(--primary);
      }
    }
  }
  .text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .scale {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .pad_5 {
    padding: 5px;
  }
  
  .iconfont {
    cursor: pointer;
  }
  
  svg {
    cursor: pointer;
  }
  
  .apply-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 900;
    font-size: 16px;
    border: 3px solid var(--global-white);
    color: var(--global-white);
    transition: 0.5s;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-3px);
      color: var(--primary);
      border: 3px solid var(--primary);
    }
  }
  
  .list-enter-active,
  .list-leave-active {
    transition: all 0.8s ease;
  }
  